trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '20.x'
    displayName: 'Use Node.js 20'

  - checkout: self

  - script: |
      npm ci
      npx playwright install --with-deps
    displayName: 'Install dependencies'

  - script: |
      npx artillery run quickLoadTest.yml --output report.json
    displayName: 'Run Artillery + Playwright Load Test'

  - task: PublishBuildArtifacts@1
    condition: always()
    inputs:
      pathToPublish: 'report.json'
      artifactName: 'artillery-report'
      publishLocation: 'Container'
    displayName: 'Publish Artillery Report'
